<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="Description" content="A Soccer Spirits Character stats page">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="/node_modules/vuetify/dist/vuetify.css" rel="stylesheet">
    <title>SSData</title>
    <style>
        main {
            margin-bottom: 70px;
        }

        .v-card {
            height: 100% !important;
        }
    </style>
</head>

<body>
    <noscript>
        <h1 class="display-3">This website uses Javascript</h1>
        <h2 class="display-2">Please enable Javascript to view this website.</h2>
    </noscript>

    <v-app id="app">

        <template>

            <v-toolbar app dark class="primary">
                <v-toolbar-title class="white--text">SSData</v-toolbar-title>
            </v-toolbar>

            <v-content>

                <v-container fluid grid-list-xs grid-list-sm grid-list-md>
                    <v-layout row wrap>

                        <v-flex xs12 sm6 md5>
                            <v-card>
                                <v-card-text>

                                    <!-- level  -->
                                    <v-layout row wrap>
                                        <div class="headline">Character Level</div>
                                        <v-flex xs10 sm10 md10>
                                            <v-slider label="Level" :max="stats.level.max" :min="stats.level.min" :step="stats.level.step" v-model="stats.level.value"
                                                :color="stats.level.color"></v-slider>
                                        </v-flex>
                                        <v-flex xs2 sm2 md2>
                                            <v-text-field v-model="stats.level.value" type="number"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <!-- level end -->

                                    <!-- spu  -->
                                    <v-layout row wrap>
                                        <div class="headline">Superb Power-up</div>
                                        <v-flex xs10 sm10 md10>
                                            <v-slider label="Level" :max="stats.spu.max" v-model="stats.spu.value" :color="stats.spu.color"></v-slider>
                                        </v-flex>
                                        <v-flex xs2 sm2 md2>
                                            <v-text-field v-model="stats.spu.value" type="number"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <!-- spu end -->

                                    <!-- bonus stats -->
                                    <v-layout row wrap>
                                        <div class="headline">+Power-up</div>
                                        <v-flex xs10 sm10 md10>
                                            <v-slider label="Level" :max="stats.bs.max" v-model="stats.bs.value" :color="stats.bs.color"></v-slider>
                                        </v-flex>
                                        <v-flex xs2 sm2 md2>
                                            <v-text-field v-model="stats.bs.value" type="number"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <!-- bonus stats end -->

                                    <!-- apu -->
                                    <v-layout row wrap>
                                        <div class="headline">Amplified Power-up</div>
                                        <v-flex xs10 sm10 md10>
                                            <v-slider label="Level" :max="stats.apu.max" v-model="stats.apu.value" :color="stats.apu.color"></v-slider>
                                        </v-flex>
                                        <v-flex xs2 sm2 md2>
                                            <v-text-field v-model="stats.apu.value" type="number"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <!-- apu end -->

                                </v-card-text>
                            </v-card>
                        </v-flex>

                        <v-flex xs12 sm6 md7>
                            <v-card>
                                <v-card-text>

                                    <!-- role filter -->
                                    <div class="headline">Role</div>
                                    <v-layout row wrap>
                                        <v-flex>
                                            <v-checkbox label="Leader" color="red" v-model="selected.role" value="Leader"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Goalkeeper" color="blue" v-model="selected.role" value="Goalkeeper"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Defender" color="cyan" v-model="selected.role" value="Defender"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Attacker" color="yellow" v-model="selected.role" value="Attacker"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Assist" color="green" v-model="selected.role" value="Assist"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Striker" color="indigo" v-model="selected.role" value="Striker"></v-checkbox>
                                        </v-flex>
                                    </v-layout>
                                    <!-- role filter end -->

                                    <!-- rarity filter -->
                                    <div class="headline">Rarity</div>
                                    <v-layout row wrap>
                                        <v-flex>
                                            <v-checkbox label="1" v-model="selected.rarity" value="1"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="2" v-model="selected.rarity" value="2"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="3" v-model="selected.rarity" value="3"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="4" v-model="selected.rarity" value="4"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="5" v-model="selected.rarity" value="5"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="6" v-model="selected.rarity" value="6"></v-checkbox>
                                        </v-flex>
                                    </v-layout>
                                    <!-- rarity filter end -->

                                    <!-- element filter -->
                                    <div class="headline">Element</div>
                                    <v-layout row wrap>
                                        <v-flex>
                                            <v-checkbox label="Ardor" color="red" v-model="selected.element" value="Ardor"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Whirlwind" color="green" v-model="selected.element" value="Whirlwind"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Thunder" color="blue" v-model="selected.element" value="Thunder"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Light" color="yellow" v-model="selected.element" value="Light"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Dark" color="indigo" v-model="selected.element" value="Dark"></v-checkbox>
                                        </v-flex>
                                    </v-layout>
                                    <!-- element filter end -->


                                    <!-- evolution filter -->
                                    <div class="headline">Evolution</div>
                                    <v-layout row wrap>
                                        <v-flex>
                                            <v-checkbox label="Base" v-model="selected.evolution" value="1"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Evolved" v-model="selected.evolution" value="2"></v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox label="Extreme Evolution" v-model="selected.evolution" value="3"></v-checkbox>
                                        </v-flex>
                                    </v-layout>
                                    <!-- evolution filter end -->

                                    <!-- latest char -->
                                    <v-switch label="Show last evolution only" v-model="showLastEvoOnly"></v-switch>
                                    <!-- latest char end -->

                                </v-card-text>
                            </v-card>
                        </v-flex>

                        <v-flex xs12 md12>
                            <v-card id="Search">

                                <!-- search filter -->
                                <v-card-title>
                                    <v-layout row wrap>
                                        <v-flex xs12 md12>
                                            <div class="headline">Search</div>
                                        </v-flex>
                                        <v-flex offset-xs1 offset-md1 xs11 md11>
                                            <v-text-field append-icon="search" label="Enter text" single-line hide-details v-model="dataTable.search"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-card-title>
                                <!-- search filter end -->

                                <!-- data table -->
                                <v-card-text>
                                    <v-data-table :headers="dataTable.headers" :custom-filter="dataTable.customFilter" :loading="dataTable.isLoading" :search="dataTable.search"
                                        :items="characters" :rows-per-page-items='dataTable.pageRows'>
                                        <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                                        <template slot="items" slot-scope="props">
                                            <td>
                                                <b>{{ props.item.name}}</b>
                                            </td>
                                            <td class="text-xs-right">{{ props.item.rarity }}</td>
                                            <td class="text-xs-right">{{ props.item.role }}</td>
                                            <td class="text-xs-right">{{ props.item.element }}</td>
                                            <td class="text-xs-right">{{ props.item.cur_pow }}</td>
                                            <td class="text-xs-right">{{ props.item.cur_tec }}</td>
                                            <td class="text-xs-right">{{ props.item.cur_vit }}</td>
                                            <td class="text-xs-right">{{ props.item.cur_spd }}</td>
                                            <td class="text-xs-right">
                                                <b>{{ props.item.cur_total}}</b>
                                            </td>
                                        </template>
                                    </v-data-table>
                                </v-card-text>
                                <!-- data table end -->

                            </v-card>
                        </v-flex>
                    </v-layout>

                    <v-btn v-scroll-to="'#Search'" fixed dark fab bottom right color="pink">
                        <v-icon>search</v-icon>
                    </v-btn>

                </v-container>

            </v-content>

        </template>

    </v-app>

    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/vuetify/dist/vuetify.min.js"></script>
    <script src="/node_modules/vue-scrollto/vue-scrollto.js"></script>
    <script src="/node_modules/lodash/lodash.min.js"></script>
    <script src="./scripts/index.js"></script>
</body>

</html>